@import url('./_edit-avatar/popup__container_edit-avatar.css');
@import url('./_edit-profile/popup__container_edit-profile.css');
@import url('./_add-cards/popup__container_add-cards.css');
@import url('./_delete-cards/popup__container_delete-cards.css');

.popup__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: auto;
}